<h1>Contact</h1>
<div class="row">
<div class="col-sm-6 panel panel-default">
  <div class="panel-body">
    <form role="form" name="contactForm" ng-submit="contactForm.$valid && contact.submit()">
      <div class="form-group" ng-class="{ 'has-error': contactForm.name.$invalid }">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" ng-model="contact.data.name" required>
          <p class="help-block" ng-show="contactForm.name.$invalid">Name is required.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error': contactForm.email.$invalid }">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" ng-model="contact.data.email" required>
          <p class="help-block" ng-show="contactForm.email.$invalid">Email is required.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error': contactForm.subject.$invalid }">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" id="subject" ng-model="contact.data.subject" required>
          <p class="help-block" ng-show="contactForm.subject.$invalid">Subject is required.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error': contactForm.body.$invalid }">
          <label for="body">Body</label>
          <textarea class="form-control" id="body" ng-model="contact.data.body" required></textarea>
          <p class="help-block" ng-show="contactForm.body.$invalid">Body is required.</p>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="!contactForm.$valid">Send</button>
    </form>
  </div>
</div>
</div>
<div class="row">
  <div class="col-sm-6 alert alert-success" ng-show="contact.messageSent">
    Message sent!
  </div>
</div>
