<div class="col-sm-6 col-sm-offset-3">
  <form role="form" name="loginForm" ng-submit="loginForm.$valid && login.submit()">
    <div class="form-group" ng-class="{ 'has-error': login.authFailed }">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" ng-model="login.data.username" required>
    </div>
    <div class="form-group" ng-class="{ 'has-error': login.authFailed }">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" ng-model="login.data.password" required>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="!loginForm.$valid">Log In</button>
    <br><br>
    <div class="alert alert-danger" ng-show="login.authFailed">
      Username or password incorrect
    </div>
  </form>
</div>
